<link rel="stylesheet" href="static/css/hakkimda.css">

<section class="main-container">
    <div class="main-wrapper">
        <div class="left-side">
            <p class="text name">Aykut Saki</p>
            <p class="text sub-text">Mersin Üniversitesi Bilgisayar Teknolojisi ve Bilişim Sistemleri 2. sınıf öğrencisi.</p>
            <p class="text sub-text">Boş zamanlarında araştırma yapmayı seven.</p>
            <p class="text sub-text">Sorgulayan.</p>
            <p class="text sub-text">Her zaman yeni teknolojileri öğrenmeye çalışsan birisi.</p>
        </div>
        <div class="right-side">
            <p class="header">Hobileri</p>
            <div class="hobbies-container">
                <div class="hobbies-left-side">
                    <p class="text sub-text">Kitap Okumak</p>
                    <p class="text sub-text">Film İzlemek</p>
                    <p class="text sub-text">Araştırma Yapmak</p>
                </div>
                <div class="hobbies-right-side">
                    <p class="text sub-text">Bisiklet Sürmek</p>
                    <p class="text sub-text">SimRacing</p>
                </div>
            </div>
        </div>
    </div>
</section>