<link rel="stylesheet" href="static/css/iletisim.css">

<section class="main-container">
    <div class="main-wrapper">
        <div class="left-side">
            <p class="header">İletişim</p>
            <div class="form-container">
                <form method="POST" action="send" class="form">
                    <div class="line">
                        <div class="line-inside">
                            <label for="email">E-Posta</label>
                            <input type="email" placeholder="E-Posta" id="email" name="email" required>
                        </div>
                        <div class="line-inside">
                            <label for="konu">Konu</label>
                            <input type="text" placeholder="Konu" id="konu" name="konu" required>
                        </div>                                             
                    </div>
                    <label for="text">Mesaj</label>
                    <textarea name="text" id="text" placeholder="Mesaj" name="mesaj" required></textarea>
                    <div class="submit">
                        <div class="submit-wrapper">
                            <input type="submit" value="Gönder" id="submit">
                            <div class="sk-chase">
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                            </div>
                        </div>
                        <div class="text-wrapper">
                            <p class="form-text"><%- formStatus %></p>
                        </div>                        
                    </div>
                </form>
            </div>
        </div>
        <div class="right-side">
            <img class="mail" src="static/svg/mail.svg" alt="mail">
            <iframe class="map" width="527" height="259" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB61lzW1tVKaGRRQ3fU_s4aPnsBJzuiGF8&q=place_id:EjvDh2F5LCBEb8SfYW50ZXBlIENkLiBObzo4LCA2NzkwMCDDh2F5Y3VtYS9ab25ndWxkYWssIFR1cmtleSIwEi4KFAoSCcMCu0oMg5xAEWKE0pTekyhXEAgqFAoSCRvFbrUNg5xAEWL57e_7K9Op" allowfullscreen>
            </iframe>
        </div>
    </div>
</section>

<script src="static/js/submit-animation.js"></script>