<link rel="stylesheet" href="static/css/projeler.css">

<section class="main-container">
    <div class="main-wrapper">
        <div class="header">
            <p class="header-text">Projeler</p>
        </div>
        <div class="projects-container">
            <a href="https://github.com/AuroPick/aykut-bot-old" class="card" target="_blank">
                <div class="project">
                    <div class="img">
                        <img class="project-logo" src="static/svg/discord.svg" alt="html5">
                    </div>
                    <p class="project-text">Aykut Bot</p>                 
                </div>
            </a>
            <a href="https://github.com/AuroPick/wargaming-onepage-site-design" class="card" target="_blank">
                <div class="project">
                    <div class="img">
                        <img class="project-logo" src="static/svg/wargaming.svg" alt="css3">
                    </div>
                    <p class="project-text">Wargaming.net</p>            
                </div>
            </a>
            <a href="https://github.com/AuroPick/portfolio" class="card"  target="_blank">
                <div class="project">
                    <div class="img">
                        <img class="project-logo" src="static/img/Portfolio.png" alt="javascript">
                    </div>
                    <p class="project-text">Portfolio</p>                 
                </div>
            </a>                                   
        </div>
    </div>
</section>