<link rel="stylesheet" href="static/css/yetenekler.css">

<section class="main-container">
    <div class="main-wrapper">
        <div class="header">
            <p class="header-text">Yetenekler</p>
        </div>
        <div class="skills-container">
            <div class="card">
                <div class="skills">
                    <div class="front">
                        <div class="img">
                            <img class="skills-logo" src="static/svg/html5.svg" alt="html5">
                        </div>
                        <p class="skills-text">HTML5</p>
                    </div>  
                    <div class="back">
                        <div class="back-wrapper">
                            <p class="back-text">HTML5 BASICS</p>
                            <p class="back-text">FORMLAR</p>
                            <p class="back-text">MEDYALAR</p>
                            <p class="back-text">CLASSLAR</p>
                        </div>                       
                    </div>              
                </div>
            </div>
            <div class="card">
                <div class="skills">
                    <div class="front">
                        <div class="img">
                            <img class="skills-logo" src="static/svg/css3.svg" alt="css3">
                        </div>
                        <p class="skills-text">CSS3</p>
                    </div>
                    <div class="back">
                        <div class="back-wrapper">
                            <p class="back-text">CSS3 BASICS</p>
                            <p class="back-text">POZISYONLAMA</p>
                            <p class="back-text">MEDIA QUERIES</p>
                            <p class="back-text">RESPONSIVE</p>
                            <p class="back-text">GRID</p>
                            <p class="back-text">FLEX BOX</p>
                            <p class="back-text">KEYFRAMES</p>
                            <p class="back-text">ANIMATIONS</p>
                        </div>
                    </div>             
                </div>
            </div>
            <div class="card">
                <div class="skills">
                    <div class="front">
                        <div class="img">
                            <img class="skills-logo" src="static/svg/javascript.svg" alt="javascript">
                        </div>
                        <p class="skills-text">JAVASCRIPT</p>
                    </div>
                    <div class="back">
                        <div class="back-wrapper">
                            <p class="back-text">JS BASICS</p>
                            <p class="back-text">DOM</p>
                            <p class="back-text">FETCH API / AJAX</p>
                            <p class="back-text">ES6+ JS</p>
                            <p class="back-text">EVENTS</p>
                            <p class="back-text">OOP</p>
                            <p class="back-text">CLASS CONST</p>
                            <p class="back-text">MODULE PATTERN</p>
                        </div>
                    </div>                 
                </div>
            </div>
            <div class="card">
                <div class="skills">
                    <div class="front">
                        <div class="img">
                            <img class="skills-logo" src="static/svg/node.js.svg" alt="node.js">
                        </div>
                        <p class="skills-text">NODE.JS</p>
                    </div>
                    <div class="back">
                        <div class="back-wrapper">
                            <p class="back-text">NODE.JS BASICS</p>
                            <p class="back-text">EVENTS</p>
                            <p class="back-text">NPM</p>
                            <p class="back-text">EXPRESS.JS</p>
                            <p class="back-text">ROUTING</p>
                            <p class="back-text">MONGOOSE</p>
                            <p class="back-text">EJS</p>
                            <p class="back-text">DISCORD.JS</p>
                        </div>
                    </div>               
                </div>
            </div>                                   
        </div>
    </div>
</section>